:root {
  /* 색상 팔레트 */
  --color-main: #f5bf2c;
  --color-main-hover: #815718;
  --color-text: #111;
  --color-info: #575757;
  --color-bg: #fff;
  --color-error: #EB2323;
  --color-border: #DDDDDD;
  --color-input-text: #9c9c9c;
  --color-amber: #e0a500;
  --color-disable: #ccc;
  --color-disable-text: #666;
}
