/* src/index.css */

html, body, #root { height: 100%; }

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/src/assets/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900; /* 가변폰트 범위 */
  font-style: normal;
  font-display: swap;
}

/* 기본 폰트 */
body {
  margin: 0;
  font-family: 'Pretendard Variable', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  color: #111;
}

/* 화면 가운데 정렬 (Figma Auto Layout의 부모 컨테이너 느낌) */
.login-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
  background: #fff;
}

/* 카드 */
.login-card {
  width: 466px;
  display: flex;
  flex-direction: column;     /* Auto Layout (수직) */
  align-items: center;
  gap: 24px;                  /* Auto Layout gap */
}

/* 로고 + 브랜드 */
.logo { width: 160; height: auto; display: block; 
transition: filter 0.3s ease;}
.logo:hover {
    filter:
    drop-shadow(0 0 12px rgba(245,191,44,0.8))
    drop-shadow(0 0 70px rgba(245,191,44,0.8));
}
.brand {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 6.4px;
}

/* 폼 */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;                  /* 필드 간격 */
}

.field {
  display: flex;
  flex-direction: column;     /* 라벨 위, 인풋 아래 */
  gap: 8px;
  align-items: stretch;       /* 라벨/인풋 너비 꽉 채움 */
  text-align: left;           /* 라벨 왼쪽 정렬 */
}

.field > label {
  font-size: 16px;
  color: #111;
  font-weight: 400;
}

.field > input {
  height: 52px;
  padding: 0 13px;
  border-radius: 10px;
  outline: 1px solid #DDD;
  border: none;
  font-size: 16px;
  background: #fff;
}

.submit {
  height: 52px;
  border: none;
  border-radius: 10px;
  background: #F5BF2C;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


.help-link {
  display: block;           /* 한 줄씩 떨어지게 */
  text-align: center;
  color: #575757;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;  /* 밑줄 */
  cursor: pointer;
  margin-top: 8px;
}

.help-link:hover {
  color: #F5BF2C;            /* hover 시 노란색 */
}

